version: '3.9'
services:
  # frontend:
  #   container_name: ngcash_frontend
  #   build: ./frontend
  #   ports:
  #     - 3000:3000
  #   platform: linux/x86_64
  #   working_dir: /app-frontend
  #   depends_on:
  #     backend:
  #       condition: service_healthy
  #   healthcheck:
  #     test: ["CMD", "lsof", "-t", "-i:3000"]
  #     timeout: 10s
  #     retries: 5
  backend:
    container_name: ngcash_backend
    build: ./backend
    ports:
      - 3001:3001
    platform: linux/x86_64
    working_dir: /app-backend
    depends_on:
      db:
        condition: service_healthy
    environment:
      - PORT=3001
      - JWT_SECRET=jwt_secret
      - DB_USER=root
      - DB_PASS=123456
      - DB_HOST=db
      - DB_PORT=5432
    healthcheck:
      test: ["CMD", "lsof", "-t", "-i:3001"]
      timeout: 10s
      retries: 5
  db:
    image: postgres
    container_name: ngcash_db
    platform: linux/x86_64
    ports:
      - 3002:5432
    environment:
      - POSTGRES_PASSWORD=123456
      - POSTGRES_USER=root
    restart: 'always'
    healthcheck:
      test: ["CMD-SHELL", "pg_isready"]
      interval: 10s
      timeout: 5s
      retries: 5
    cap_add:
      - SYS_NICE # Deve omitir alertas menores