.user-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  width: 100%;
  height: 15vh;
}

.wallet-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.4em 0;
  background-color: #383838;
  border-radius: 2em;
  width: 100%;
}

.profile-logout-btn {
  height: 5vh;
  width: 40%;
}

.profile-logout-btn:hover {
  background-color: rgb(221, 221, 221);
  border: none;
  color: black;
}