.background-image {
  background-image: url('../../images/background.jpg');
}

.login-form-container {
  width: 30%;
  margin-left: 5vw;
}

.left-title {
  font-size: 3.5em;
  text-align: start;
}

.left-subtitle {
  color: #5a5c64;
  text-align: start;
  font-size: 1.2em;
}

.form-container {
  align-items: center;
  flex-direction: column;
  justify-content: center;
  display: flex;
  height: fit-content;
  border-radius: 20px;
}

.login-input-container {
  width: 80%;
}

.login-input {
  border: none;
  background-color: #323745;
  color: #FBFDFF;
  border-radius: 12px;
  width: 100%;
}

.login-btn-container {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.btn {
  width: 45%;
  height: 3em;
  border-radius: 35px;
  font-weight: 500;
  font-size: 1.1em;
}

.login-btn {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.login-btn:disabled {
  background-color: #000;
  color: white;
  border: 1px solid white;
}


.login-btn:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.create-account-btn {
  background-color: #555C69;
  border: none;
}

.create-account-btn:hover {
  background-color: #484f5a;
  border: none;
}