.filter-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  height: 15vh;
}


.filter-btn {
  width: 100%;
  padding: 0.5em 1em;
}

.filter-select {
  width: fit-content;
}