.home-container {
  align-items: center;
  display: flex;
  background-color: black;
  height: 100vh;
  width: 100vw;
}

.header {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.light-color-text {
  color: #FBFDFF;
}

.wallet-container {
  margin-left: 10vw;
  width: 21%;
  font-family: 'IBM Plex Mono', monospace;
}

.wallet-username {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  width: 100%;
  height: 15vh;
}

.wallet-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.4em 0;
  background-color: #383838;
  border-radius: 2em;
  font-family: 'IBM Plex Sans', sans-serif;
}

.white-box {
  background-color: white;
  color: black;
  border: 1px solid white;
  border-radius: 1em;
  box-shadow: rgba(0, 0, 0, 1) 5px 5px, rgba(255, 255, 255, 1) 7px 7px
}

.user-input {
  background-color: white;
  color: black;
  border: 1px solid white;
  border-radius: 1em;
  width: 100%;
  padding: 0.4em;
  padding-left: 1em;
}

.value-input-container {
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 2em;
  height: 8vh;
}

.value-input {
  border: none;
  width: 37%;
  font-size: 1em;
  outline: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.btn-container-wallet {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: auto;
}

.btn-wallet {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 500;
  height: 5vh;
  width: 40%;
}

.btn-wallet:hover {
  background-color: rgb(221, 221, 221);
  border: none;
  color: black;
}

.btn-wallet:disabled {
  background-color: #000;
  color: white;
  border: 1px solid white;
}

.error-box {
  border: 2px solid rgb(211, 40, 40);
}

input.form-control:focus {
  background-color: white;
  color: black;
  border: 1px solid white;
  border-radius: 1em;
  width: 100%;
  padding: 0.4em;
  padding-left: 1em;
  box-shadow: none;
}