.default-page {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  background-color: #000;
}

.logo {
  height: 5em;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
}

.title {
  font-family: 'IBM Plex Mono', monospace;
  text-align: center;
}

.text {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 600;
}

.light-color-text {
  color: #FBFDFF;
}

.white-box {
  background-color: white;
  color: black;
  border: 1px solid white;
  border-radius: 1em;
  box-shadow: rgba(0, 0, 0, 1) 5px 5px, rgba(255, 255, 255, 1) 7px 7px
}

input.form-control:focus {
  color: white;
  border: 1px solid white;
  width: 100%;
  padding: 0.4em;
  padding-left: 1em;
  box-shadow: none;
  transition: 0.2s;
}