.form-control:focus {
  background-color: #3D404A;
  color: #FBFDFF;
}

.btn-create:disabled {
  background-color: #000;
  color: white;
  border: 1px solid white;
}

.btn-create {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.btn-create:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.register-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}